---
import Layout from "@/layouts/Main.astro"
import { ViewTransitions } from 'astro:transitions';

// Get the session from the request
import { getSession } from "auth-astro/server"
let session = await getSession(Astro.request)
if (!session) return Astro.redirect("/")
---
<Layout
  title="Protected Page"
>
  <ViewTransitions />
  <main>
    <section class="container">
      <div class="row">
      <div class="col-12 font-bold">
        <h1>
          Dashboard for {session?.user?.name}
        </h2>
      </div>
      </div>
    </section>
  </main>
</Layout>