---
import '../styles/globals.css'
import Layout from '@/layouts/Layout.astro';
---

<Layout
	title="Home"
	description="Home Page"
>
  <main>
	<section class="container">
	  <div class="row">
		<div class="col-12 font-bold">
		  <h1>Astro</h1>
		</div>
	  </div>
	</section>
  </main>
</Layout>
	  
