---
import '../styles/globals.css'
import Layout from '@/layouts/Hero.astro';
import { ViewTransitions } from 'astro:transitions';

import type { Session } from '@auth/core/types';
import { Auth, SignIn, SignOut } from 'auth-astro/components';
---

<Layout
	title="Home"
>
  <ViewTransitions />
  <main>
	<section class="container">
	  <div class="row">
		<div class="col-12 font-bold">
			<Auth>
				{(session: Session | null) => 
				  <main>
					<h1>Astro + AuthJS</h1>
					<p>
					  <a href="/dashboard">Protected Route</a>
					</p>
					<SignIn provider="github">Login</SignIn>
					<SignOut>Logout</SignOut>
					<p>
					  {session ? `Logged in as ${session.user?.name}` : 'Not logged in'}
					</p>
				  </main>
				}
			</Auth>
		</div>
	  </div>
	</section>
  </main>
</Layout>
	  
